{% extends 'base.html.twig' %}

{% block title "Liste film d'une catégoie"%}


{% block body %}
  <div class="container">
    <h1 class="text-center mt-4 mb-4">
      Les films de la categorie
      {{category.title}}
    </h1>
    <div class="d-flex flex-wrap">
      {% for movie in category.movies %}


        <div class="card border-success mb-3 col-4 mr-4" style="max-width: 20rem;">

          <div class="card-body">
            <h4 class="card-title">{{movie.title}}</h4>

            <p class="card-text text-muted">
              Sortie le
              {{movie.releasedAt|date('d/m/Y')}}
            </p>

            {# <img src="{{ movie.poster }}" alt=""> #}
          </div>
          <div class="card-footer text-right">

            <a class="card-link" href="{{ path('show_movie', {slug: movie.slug}) }}">Voir le fiche de ce film</a>
          </div>
        </div>

      {% endfor %}
    </div>
  </div>
{% endblock %}
