{% extends 'base.html.twig' %}

{% block title "Film"%}


{% block body %}
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-center mt-4 mb-4">
        {{movie.title}}
      </h1>
      <p class="card-text text-muted text-center">
        Sortie le
        {{movie.releasedAt|date('d/m/Y')}}
      </p>
      <img src="{{movie.poster}}" alt="Picture du film {{movie.title}}" style="height: 500px; width: 50%; margin: auto; display: block;">
      <div class="card-body">
        <p class="card-text">
          Le réalisateur :
          <a class="btn btn-outline-success m-2" href="{{ path('show_people', {slug: movie.director.slug }) }}">
            {{ movie.director.fullName }}
          </a>
        </p>
      </div>
      <div class="card-body">
        <p class="card-text">
          Les acteurs :
          {% for actor in movie.actors %}
            <a class="btn btn-outline-success m-2" href="{{ path('show_people', {slug: actor.slug }) }}">
              {{actor.fullName}}
            </a>
          {% endfor %}
        </p>
      </div>
      <div class="card-body">
        <p class="card-text">Toutes les notes :
          {% for rating in movie.ratings %}

            {{rating.notation}}

            ,
          {% endfor %}
        </p>
      </div>

      <div class="card-body">
        <p class="card-text">Moyenne :
          {{ movie.getMoyenne | number_format(2, ',') }}
        </p>
      </div>

      {% if is_granted("ROLE_USER") %}
        <div class="card-body">
          <h3 class="text-center">Ajouter votre avis pour ce film</h3>
          <p class="card-text">
            {{form_start(formRating)}}
            {{ form_widget(formRating) }}
            <div class="text-right">
              <button class="btn btn-success" type="submit">Valider votre avis</button>
            </div>
            {{form_end(formRating)}}
          </p>
        </div>
      {% else %}
        <div class="card-body text-center">
          Connectez-vous pour donner votre avis
        </a>
      </div>
    {% endif %}

  </div>
</div>{% endblock %}
