{{form_start(formMovie)}}


{{form_row(formMovie.title)}}
{{form_row(formMovie.synopsis)}}
{{form_row(formMovie.poster)}}
{{form_row(formMovie.releasedAt)}}
{{form_row(formMovie.categories)}}
{{form_row(formMovie.title)}}
{{form_row(formMovie.director)}}
{{form_row(formMovie.actors)}}


<div class="text-right">
  <button class="btn btn-info">{{button|default('Enregistrer')}}</button>
</div>
{{form_end(formMovie)}}
