<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Welcome!
      {% endblock %}
    </title>
    {% block stylesheets %}
      <link crossorigin="anonymous" href="https://bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{{ path('home')}}">Rotten Potatoes</a>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          {% if is_granted("ROLE_ADMIN") %}
            <li class="nav-item">
              <a href="{{ path('admin_movies') }}" class="btn btn-outline-success mr-4 ml-4">Admin films</a>
            </li>
            <li class="nav-item">
              <a href="{{ path('admin_ratings') }}" class="btn btn-outline-success mr-4 ml-4">Admin avis</a>
            </li>
          {% elseif is_granted("ROLE_MODERATEUR") %}
            <li class="nav-item">
              <a href="{{ path('admin_ratings') }}" class="btn btn-outline-success mr-4 ml-4">Admin avis</a>
            </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav">
          {% if not is_granted("ROLE_USER") %}
            <li class="nav-item">
              <a class="btn btn-info mr-1" href="{{ path('account_register') }}">Inscription
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-success mr-1" href="{{ path('security_login') }}">Connexion
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <button class="btn btn-outline-warning mr-2">
                Connecté en tant que
                {{ app.user.name }}
              </button>
            </li>
            <li class="nav-item">
              <a class="btn btn-danger mr-1" href="{{ path('security_logout') }}">Déconnexion
              </a>
            </li>
          {% endif %}
        </ul>

      </div>
    </nav>

    <div
      class="d-flex">

      {# mon aside avec toutes les catégories de film #}
      <aside class="col-2 mt-2 pr-0 pl-2">
        <div class="list-group">
          {{ render(controller('App\\Controller\\MovieController::show_all_category')) }}
        </div>
      </aside>

      {% block body %}{% endblock %}

    </div>

    {% block javascripts %}
      <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>
